// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: rgba(255,232,120,0.5);
$orange: #ffd849;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$tgreen:#02CCBA;
$purple:#54426B;
$dgreen: #10A396;
$card-red: #FD1015;
$card-green: #1EDD88;

