// Specific CSS for your home-page

.home-outer-container{
  margin: 64px 0px;
}

.home-inner-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  align-items: center;
  .card{
   margin: 20px 0px;
  }
  .btn{
  }
  .card-img-top{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 50%;
  }
}
.search-bar {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .bar{
    height: 41px;
    width: 300px;
  }
}

