<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My future bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My current bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My booking history</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Manage my parking spaces</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render "future_bookings"  %>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= render "current_bookings"  %>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <%= render "past_bookings"  %>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <h1>
          <%= render "my_spaces"  %>
        </h1>
    </div>
  </div>
</div>


<!--
<div class="container"><h2>Example tab 2 (using standard nav-tabs)</h2></div>

<div id="exTab2" class="container">
  <ul class="nav nav-tabs">
      <li class="active">
        <a  href="#1" data-toggle="tab">My future bookings</a>
      </li>
      <li><a href="#2" data-toggle="tab">My current bookings</a>
      </li>
      <li><a href="#3" data-toggle="tab">My booking history</a>
      </li>
      <li><a href="#4" data-toggle="tab">Manage my parking spaces</a>
      </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane active" id="1">
      <h3>This are your upcoming bookings</h3>
      <div class="container">
        <%#= render "upcomming_bookings"  %>
      </div>
    </div>
    <div class="tab-pane" id="2">
      <h3>This are your current bookings</h3>
      <div class="container">
        <%#= render "current_bookings"  %>
      </div>
    </div>
    <div class="tab-pane" id="3">
      <h3>This are your past bookings</h3>
      <div class="container">
        <%#= render "past_bookings"  %>
      </div>
    </div>
    <div class="tab-pane" id="3">
      <h3>Your Spaces</h3>
      <div class="container">
        <%#= render "upcommimg_bookings"  %>
      </div>
    </div>
  </div>
</div>

<hr></hr>
 -->
