<div class="footer",>
  <%= link_to "About us", root_path, class: "footer-link" %>
  <div class="footer-copyright mt-2" style="font-size: 12px;">
    ©Parking dog <i class="fas fa-dog" ></i>
  </div>
</div>
