<div class="footer", style="background-color: white; position: absolute; padding: 10px; bottom: 0; left: 0; right: 0;">
  <!--Class nav-link is just to have no text-decoration when hover, can be changed later on with more detailed design-->
  <%= link_to "Start", spaces_index_path, class: "nav-link" %>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div>
</div>
