.banner{
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  //linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: 0.8;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 60px;
  }

  .banner-btn{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.banner-img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 80vh;
}
