
.button {
 background-color:$tgreen;
 color: white;
 padding: 8px 16px;
 font-family: $body-font;
 text-align:center;
 border-radius: 4px;
 transition: 0.4s;
 border: none;
}

.button:hover {
  background-color:$dgreen;
  text-decoration:none;
  color: white;
}

