.card {
  background-color: white;
  padding: 40px;
}

.home-card {
  width: 18rem;
  height: 22rem;
}


.card-header {
  font-size: 22px;
  border: none;
  text-align: left;
  padding: 12px 0 8px 0;
  font-weight: bold;
  background: none;
  color: rgba(0,0,0,0.8);
}

a:hover {
  text-decoration: none;
}

.card-link:hover {
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  position: relative;
  top: -3px;
}
